h1 {
    color:goldenrod;
    font-size: 2em;
    font-family: Arial;
    font-weight: bold;
} 

h2 {
font-family: Verdana;
color: red; 
}
div.z {
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    background-color: black;
}